.navbar {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  font-size: 20px;
  align-items: center;
  list-style-type: none;
  background-color: #1c1a1a;
  align-self: center;
}

.nav {
  float: top;
  overflow: hidden;
  text-align: center;
  padding: 14px 16px;
}

.nav a {
  color: #EDEDE9;
  text-decoration: none;
}

body {
  background-color: #295E1E;
}

.card-img {
  max-height: 10%;
  max-width: 10%;
}


.hand-container {
  min-height: 300px;
  padding: 20px;
  background-color: #f8f9fa
}

.game-controls {
  margin-top:20px;
}
