body {
  background-color: #255e35;
  font-family: 'monospace';

}

img {
  width: 20%;
  border-radius: 50%;
}

.gametable {
  width: 300px;
  border: 15px solid green;
  margin: 20px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: white;
  padding: 5px;
}

.green {
  background-color: #255e35;
  color: white;
  border: 1px solid white;
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

.black {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

.red {
  background-color: red;
  color: white;
  border: 1px solid white;
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

.button {
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  padding: 20px;
}

.button:active {
  box-shadow: 0 6px #000000;
  transform: translateY(4px);
}

.button-0 {
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  padding: 20px;
}

form [type=number] {
  width: 10%;
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  padding: 15px;
}

form [type=submit] {
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px;
 }
