<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet"
      type="text/css"
      href="/static/css/profile.css">
  </head>

  <nav>
    <a href='/' class="back">&#8592;</a>
    <a href='/logout' class="logout">Logout</a>
  </nav>

  <body>

    <br><br>
    <div class='PFP'>
      <div id='pic'>
        <img src={{ pfp }} alt="pfp" class='image'>
      </div>

      <div id='edit'>
        {% if own_profile %}
          {{ edit | safe }}
        {% endif %}
      </div>
    </div>

    <div class='main'>
      <h1> {{ username }} </h1>
    </div>

  </body>

  <footer>

  </footer>

</html>
