<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet"
    type="text/css"
    href="/static/css/register.css">
  </head>

  <nav>
    <a href='/' class="back">&#8592; </a>
  </nav>

  <body>

    <div class="main">
      <form method='POST' action="/register">
        <h1> Create &nbsp an &nbsp Account </h1>
        <p>
          {{ error|safe }}
          USERNAME:
        </p>
        <input type="text" name="username" required>
        <br>
        <p> PASSWORD: </p>
        <input type="password" name="password" required>
        <br>
        <p> CONFIRM &nbsp PASSWORD: </p>
        <input type="password" name="confirm" required>
        <br><br>
        <input type="submit" value="Register" id= "sub1" name="sub1">
      </form>
    </div>
  </body>

  <footer>

  </footer>

</html>
