<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>😼 Catsino: Roulette!</title>
    <link rel='stylesheet' href='../static/css/rl.css'>
</head>

<body>
  <h1> Catsino: Roulette! </h1>
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.888casino.com%2Fblog%2Fsites%2Fnewblog.888casino.com%2Ffiles%2Finline-images%2Famerican-roulette-wheel_0.jpg&f=1&nofb=1&ipt=09dee538632d4a8f5c322160856db93142dd36cf060f8392444916503e58571d"></img>

<div class = "gametable"> </div>

</body>

</html>
