<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>😼 Catsino: Roulette!</title>
    <link rel='stylesheet' href='../static/css/rl.css'>
</head>

<body>
  <h1> Catsino: Roulette! </h1>
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.888casino.com%2Fblog%2Fsites%2Fnewblog.888casino.com%2Ffiles%2Finline-images%2Famerican-roulette-wheel_0.jpg&f=1&nofb=1&ipt=09dee538632d4a8f5c322160856db93142dd36cf060f8392444916503e58571d"></img>

  <div class="container">
    <div>0</div>
    <div>3</div>
    <div>6</div>
    <div>9</div>
    <div>12</div>
    <div>15</div>
    <div>18</div>
    <div>21</div>
    <div>24</div>
    <div>27</div>
    <div>30</div>
    <div>33</div>
    <div>36</div>
    <div>0</div>
    <div>2</div>
    <div>5</div>
    <div>8</div>
    <div>11</div>
    <div>14</div>
    <div>17</div>
    <div>20</div>
    <div>23</div>
    <div>26</div>
    <div>29</div>
    <div>32</div>
    <div>35</div>
    <div>0</div>
    <div>1</div>
    <div>4</div>
    <div>7</div>
    <div>10</div>
    <div>13</div>
    <div>16</div>
    <div>19</div>
    <div>22</div>
    <div>25</div>
    <div>28</div>
    <div>31</div>
    <div>34</div>
  </div>

<button type="button">1 to 18</button>
<button type="button">even</button>
<button type="button">red</button>
<button type="button">black</button>
<button type="button">odd</button>
<button type="button">19 to 36</button>


</body>

</html>
