<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>😼 Catsino: Slots!</title>
  <link rel='stylesheet' href='../static/css/slots.css'>
</head>
<body>
  <div class="titlebox">
    <h1 class="title">Catsino: Slot Machine! </h1>
  </div>
  <div class='slot-container'>
    <div class="slot-machine">
      <div class="reel" id="reel1">
        <div class="symbol-container" id="symbol-container1">
          <div class="symbol">😺</div>
          <div class="symbol">😸</div>
          <div class="symbol">😻</div>
          <div class="symbol">🙀</div>
          <div class="symbol">😼</div>
          <div class="symbol">😺</div>
          <div class="symbol">😸</div>
          <div class="symbol">😻</div>
          <div class="symbol">🙀</div>
          <div class="symbol">😼</div>
        </div>
      </div>
      <div class="reel" id="reel2">
        <div class="symbol-container" id="symbol-container2">
          <div class="symbol">😺</div>
          <div class="symbol">😸</div>
          <div class="symbol">😻</div>
          <div class="symbol">🙀</div>
          <div class="symbol">😼</div>
          <div class="symbol">😺</div>
          <div class="symbol">😸</div>
          <div class="symbol">😻</div>
          <div class="symbol">🙀</div>
          <div class="symbol">😼</div>
        </div>
      </div>
      <div class="reel" id="reel3">
        <div class="symbol-container" id="symbol-container3">
          <div class="symbol">😺</div>
          <div class="symbol">😸</div>
          <div class="symbol">😻</div>
          <div class="symbol">🙀</div>
          <div class="symbol">😼</div>
          <div class="symbol">😺</div>
          <div class="symbol">😸</div>
          <div class="symbol">😻</div>
          <div class="symbol">🙀</div>
          <div class="symbol">😼</div>
        </div>
      </div>

      <input class="handle" id="handle" type="button">

      <div class="result-message" id="resultMessage">You Win!</div>
    </div>
    <div class="spendtxt">
      <p class="cost"> Cost to spin: 10 🐟 </p>
      <p class="cost"> Current amount: {{current}} </p>
    </div>
  </div>

  <div id="confetti" class="confetti"></div>
  <script src='../static/js/slots.js'></script>
</body>

</html>
